body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 320px;
  min-height: 100vh;
}
button {
  background-color: #ebebeb;
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 10px 15px;
  font-size: 20px;
  cursor: pointer;
  margin-right: 5px;
}

.plusBtn:hover {
  background-color: rgb(192, 230, 192);
}
.minusBtn:hover {
  background-color: rgb(252, 203, 203);
}
.resetBtn:hover {
  background-color: rgb(251, 252, 203);
}
